.form
    .form__mask
        %input#message_content.form__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}
        %label.form__upload-icon{:for => "message_image"}
            %i.fa.fa-picture-o.form__icon
            %input#message_image.form__file{type:  "file"}
    %input.form__submit{type: "submit", :value => "Send"}/
