.form
  %form
    .form__mask
      %input#message_content.form__text
      %label.form__upload-icon
        %i.fa.fa-picture-o.form__icon
    %input.form__submit{type: "submit", value: "Send"}
    %label.upload-label{for: "upload-icon"}
