.flash {
  text-align: center;
  &__notice {
    color: $whitefontColor;
    background-color: $blueColor;
  }
  &__alert {
    color: $whitefontColor;
    background-color: $alert_orange;
  }
}


//.flash {
//  .notice {
//    background-color: $blueColor;
//    color: $whitefontColor;
//    text-align: center;
//  }
//
//  .alert {
//    background-color: $alert_orange;
//    color: $whitefontColor;
//    text-align: center;
//  }
//}
